<h2>Edit <%= @user.name %> Profile</h2>
<% if @user.errors.full_messages.any? %>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
    <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:error] %>
  <br>
  <strong>
    <%= flash[:error] %>
  </strong>
  <br>
  <br>
<% end %>

<%= form_for @user, html: {multipart: true} do |f| %>

  <%= f.label :profile_pic, 'Profile Pic' %>
  <%= f.cl_image_upload :profile_pic %>
  <br>
  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <br>
  <%= f.label :genre %>
  <%= f.text_field :genre %>
  <br>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>
  <br>
  <%= button_to 'Update', @user, :method => :edit %>
  <br>
  <%= button_to 'Delete', @user, :method => :delete %>
<% end %>
