
<h1>Hello <%= @current_user.name %></h1>

<%= cl_image_tag @current_user.profile_pic %>

<p>
  <strong>Genre:</strong> <%= @current_user.genre %>
</p>
<p>
  <strong>Email:</strong> <%= @current_user.email %>
</p>

<% @current_user.recordings.each do |r| %>
  <%= link_to r.comments, recording_path(r.id) %>
  <br>
<% end %>
