<!DOCTYPE html>
<html>
  <head>
    <title>AiComp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <title>File Uploading</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>
  </head>

  <body>

    <nav>
      <% if @current_user.present? %>
      Hello, <%= @current_user.name %>
      <%= link_to 'Home', root_path(@current_user.id) %>
      |
      <%= link_to 'Edit Profile', edit_user_path(@current_user.id) %>
      |
      <%= link_to 'Generate AI-Comp', new_sequence_path %>
      |
      <%= link_to 'All Sequences', sequences_path %>
      |
      <%= link_to 'Upload Remix', new_recording_path %>
      |
      <%= link_to 'View Remixes', recordings_path %>
      |
      <%= link_to 'News Feed', recordings_path %>
      |
      <%= link_to 'Logout', login_path, method: 'delete' %>
      <% else %>
      <%= link_to 'Login', login_path %>
      |
      <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
